<EditForm Model="Model" OnValidSubmit="SubmitAsync">
    <DataAnnotationsValidator />

    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h6">
                Update @NodeVariable.Name Variable
            </MudText>
        </TitleContent>
        <DialogContent>
            <Condition Evaluation="showErrorAlert">
                <Match>
                    <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Dense="true" Class="mb-3">
                        There was a problem. Please try again later
                    </MudAlert>
                </Match>
            </Condition>

            <div class="mb-3">
                <MudTextField Label="Name"
                              @bind-Value="Model.Name"
                              For="@(() => Model.Name)" />
            </div>
            <div class="mb-3">
                <MudTextField Label="Description"
                              @bind-Value="Model.Description"
                              Lines="3"
                              For="@(() => Model.Description)" />
            </div>
            <div class="mb-5">
                <MudTextField Label="Value"
                              @bind-Value="Model.Value"
                              For="@(() => Model.Value)" />
            </div>
            <div class="mb-3">
                <MudText Typo="Typo.subtitle2" Class="mb-1">
                    Sensitivity
                </MudText>
                <MudSwitch @bind-Checked="Model.IsSensitive" Color="Color.Primary">
                    <Condition Evaluation="Model.IsSensitive">
                        <Match>
                            Sensitive
                        </Match>
                        <NotMatch>
                            Insensitive
                        </NotMatch>
                    </Condition>
                </MudSwitch>
                <MudText Class="mud-input-helper-text">

                </MudText>
            </div>
        </DialogContent>
        <DialogActions>
            <MudButton OnClick="Cancel">
                Cancel
            </MudButton>
            <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit" Disabled="isProcessing">
                Update Variable
            </MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>

