@page "/management/users/{Username}"

<MudBreadcrumbs Items="BreadcrumbItems" />

<Condition Evaluation="isCanceled">
    <Match>
        <MudAlert Severity="Severity.Info" Variant="Variant.Text" Class="mb-3">
            User not found!
        </MudAlert>
    </Match>
</Condition>

<LoadingView IsLoaded="isLoaded" IsCanceled="isCanceled">
    <Condition Evaluation="showSuccessAlert">
        <Match>
            <MudAlert Severity="Severity.Success" Variant="Variant.Outlined" Class="mb-3">
                Successfully updated user identity settings!
            </MudAlert>
        </Match>
    </Condition>

    <Condition Evaluation="showErrorAlert">
        <Match>
            <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Class="mb-3">
                There was a problem. Please try again later
            </MudAlert>
        </Match>
    </Condition>

    <MudCard>
        <MudCardHeader Class="mud-theme-primary">
            <CardHeaderContent>
                <MudText Typo="Typo.h6">
                    Identity
                </MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudDivider />

        <EditForm Model="Model" OnValidSubmit="HandleUpdateUserAsync">
            <MudCardContent>
                <div class="mb-3">
                    <MudTextField T="string" Label="Username" @bind-Value="User.Name" Disabled="true" />
                </div>
                <div class="mb-3">
                    <MudSelect @bind-Value="Model.Role" Label="Select Role">
                        @foreach (UserRole role in Enum.GetValues(typeof(UserRole)))
                        {
                            <MudSelectItem Value="@role">@role</MudSelectItem>
                        }
                    </MudSelect>
                </div>
                <div class="mb-3">
                    <MudTextField T="string" Label="Password" InputType="InputType.Password" @bind-Value="Model.Password" HelperText="Optional" />
                </div>
            </MudCardContent>
            <MudDivider />
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Disabled="isUpdateUserProcessing">
                    Save
                </MudButton>
                <MudText Class="ms-auto" Align="Align.End" Typo="Typo.inherit">
                    @User.UpdateDate.LocalDateTime
                </MudText>
            </MudCardActions>

            <DataAnnotationsValidator />
        </EditForm>

    </MudCard>
</LoadingView>