<div class="p-3 bg-light rounded-3 mb-3 shadow-lg">
    <table class="table">
        <tbody>
            <tr>
                <td>File Name</td>
                <td>@PluginFileResult.Name</td>
            </tr>
            <tr>
                <td>Mime Type</td>
                <td>@PluginFileResult.MimeType</td>
            </tr>
            <tr>
                <td>File Size</td>
                <td>@PluginFileResult.Content.Length.ToString("N0") bytes</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary">Download @PluginFileResult.Name</a>
</div>