@page "/results/{ResultId:int}"
@using Shearlegs.Web.Pages.Home.ResultPage.Components 

@if (Result != null && hasPermission)
{
    <div class="card">
        <div class="card-header d-flex">
            <div class="me-auto">
                <span>Result #@Result.Id</span>
            </div>
            <div>
                <small class="text-muted">@Result.CreateDate</small>
            </div>            
        </div>
        <div class="card-body">
            @if (Result.ResultType == ResultConstants.TextResult)
            {
                <TextResult Result="Result" />
            } else if (Result.ResultType == ResultConstants.FileResult)
            {
                <FileResult Result="Result" />
            } else if (Result.ResultType == ResultConstants.ErrorResult)
            {
                <ErrorResult Result="Result" />
            }
        </div>
        <div class="card-footer text-muted text-center">
            Executed by <span class="fw-bold">@Result.User.Name</span>
        </div>
    </div>
}
else if (!hasPermission)
{
    <h4>You don't have permission to view this result</h4>
}
else
{
    <h4>Result not found</h4>
}