<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/icon.png" alt="Shearlegs" width="40" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <AuthorizeView Roles="@RoleConstants.AdminRoleId">
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/users">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/plugins">Plugins</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/results">Results</a>
                        </li>
                    </Authorized>
                </AuthorizeView>
                
                <AuthorizeView Roles="@RoleConstants.DeveloperAndAdmin">
                    <Authorized>
                        <li class="nav-item">
                            <a class="nav-link" href="/developer/upload">Upload</a>
                        </li>
                    </Authorized>
                </AuthorizeView>                
            </ul>
            
            <ul class="navbar-nav">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @context.User.Identity.Name
                            </a>
                            <ul class="dropdown-menu">
                                @if (UserService.IsWindowsAuthType)
                                {
                                    <li>
                                        <form action="windowsauth" method="post">
                                            <button class="dropdown-item" type="submit">Refresh</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li><a class="dropdown-item" href="/signout">Sign Out</a></li>
                                }
                            </ul>
                        </li>
                    </Authorized>
                </AuthorizeView>                
            </ul>
            <div class="d-flex">

            </div>
        </div>
    </div>
</nav>

@code {
    [Inject]
    public UserService UserService { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }


    public void Refresh()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }
}