@page "/account/login"
@layout LoginLayout

<MudPaper Class="mx-auto my-auto pa-3" MaxWidth="350px" Width="100%">
    <div class="d-flex justify-content-center">
        <MudImage Class="mx-auto" Src="/images/icon.png" ObjectFit="ObjectFit.Fill" ObjectPosition="ObjectPosition.Center" Width="125" Height="125" />
    </div>
    
    @*<div class="mb-3">
        <MudText Align="Align.Center" Typo="Typo.h5">
            Shearlegs Software
        </MudText>
    </div>*@
    
    <div class="mb-3">
        <Condition Evaluation="LoginUserRequestException != null">
            <Match>
                <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Dense="true">
                    Invalid username or password
                </MudAlert>
            </Match>
        </Condition>
        

        <EditForm Model="LoginUserRequest" OnValidSubmit="HandleLoginAsync">
            <div class="mb-3">
                <MudTextField T="string" Label="Username" @bind-Value="LoginUserRequest.Username" />
            </div>
            <div class="mb-3">
                <MudTextField T="string" Label="Password" InputType="InputType.Password" @bind-Value="LoginUserRequest.Password" />
            </div>            
            <MudButton Disabled="LoginUserRequestProcessing" 
                Variant="Variant.Filled" 
                Color="Color.Primary" 
                FullWidth="true" 
                ButtonType="ButtonType.Submit">

                <Condition Evaluation="LoginUserRequestProcessing">
                    <Match>
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Processing</MudText>
                    </Match>
                    <NotMatch>
                        <MudIcon Icon="@Icons.Material.Filled.Login" Class="ms-n1" Size="Size.Small" />
                        <MudText Class="ms-2">Login</MudText>
                    </NotMatch>
                </Condition>
            </MudButton>
        </EditForm>
    </div>

    <div>
        <MudText Typo="Typo.caption" Align="Align.Center" Color="Color.Surface">
            © 2020-@DateTime.Now.Year Shearlegs Software
        </MudText>
    </div>
</MudPaper>