@page "/login"
@using LoginPage.Layouts
@layout LoginLayout

<main class="form-signin text-center" style="zoom: 3">
    <form @onsubmit="LoginAsync">
        <img class="mb-2" src="/img/icon.png" alt="" width="100" height="100">
        <h3 class="h3 mb-3 fw-normal">Login to Continue</h3>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" @bind="@LoginParams.Name" placeholder="Your username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" @bind="@LoginParams.Password" placeholder="Your password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020-@DateTime.UtcNow.Year</p>
    </form>
</main>
